body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

body * {
    font-size: large;
    font-family: Arial;
}


table {
    border-spacing: 0.5em;
}

td input[type="text"] {
    width: 30em;
    padding: 0.3em;
    border-radius: 5px;
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type="submit"] {
    position: relative;
    top: 10px;
    padding: 10px;

    border: 0;
    border-radius: 5px;
}

input[type="submit"]:hover {
    outline: solid 1px;
    outline-color: lightgrey;
}

input[type="text"] {
    border: solid 1px;
    border-color: lightgrey;
}

input[type="text"]:focus-within {
    outline: solid #f5f5f5;
    outline-width: 3px;
}

input[type="text"]:hover {
    background-color: #f7f7f7 !important;
}


#searchOptions {
    margin: 0.3em;

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-self: flex-end;
}

#searchLogo {
    width: 30em;
    height: auto;
    margin-top: 8%;
}

#searchBar {
    width: 25em;
    height: auto;

    padding: 0.9em;
    padding-left: 2.6em;
    padding-right: 1.5em;

    border-radius: 30px;
    background: url("images/search-icon.svg") no-repeat;
    background-size: 1em;
    background-position: 1em;
}